{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/ee974cd413.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'test/css/test.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<!--    Шапка сайта с навигацией-->
    <nav class="navbar navbar-expand-md navbar-light bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="{% static 'test/img/pinterest.svg' %}"></a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Обо мне</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!--    Основной блок сайта-->
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
